{% extends 'base.html.twig' %} 

{% block title %}

{% endblock %} 

{% block body %}

<div class="example-wrapper">
  <h1>Liste</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    
    {% for voiture in voitures %}
    
      <div class="col">
        <div class="card bg-transparent border-warning border-2">
            <img src="{{ voiture.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title link-light">{{ voiture.nom | upper }}</h5>

              <a href="{{path('show_voit',{'id': voiture.id})}}" class="btn btn-secondary my-2 my-sm-0  mt-2 fw-bolder list-group">En Savoir plus</a>

              <p class="card-text link-warning h6 mt-2 fw-semibold">{{ voiture.createAt|date('d.m.Y H:i:s')}}</p>
              <p class="nb_km link-light fw-semibold">{{ voiture.nbKm | raw }} kms</p>

            </div>
          </div>
        </div>
    {% endfor %}
  </div>

</div>
{% endblock %}


{# code formateur
<div class="row">
  {% for article in articles %}
  <div class="card col-md-4" style="width: 18rem;">
      <p class="date">{{ article.createdAt | date("d/m/y")}}</p>
      <img src="{{article.image}}" class="card-img-top" alt="{{ article.title }}">
      <div class="card-body">
        <h5 class="card-title"> {{article.title }}</h5>
        <a href="#" class="btn btn-primary">En Savoir plus</a>
      </div>
    </div>
  {% endfor %}
</div> #}